body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #d0a3ff;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #606;
    border: 1px solid black;
}

header > h1 {
    margin: auto;
    color: white;
    font-size: 1.8em;
    transition: .5s;
}

nav {
    width: 100%;
    background-color: #a360fb;
    font-weight: bold;
    color: white;
    margin: 0px auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    padding: 10px;
    border: 1px solid #6d6;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}

@media(max-width: 640px) {
    header > h1 {
        font-size: 1.1em;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }
}

#content {
    width: 90%;
    margin: 0px auto;
    margin-top: 10px;
    padding: 5px;
    background-color: white;
    border: 3px solid #663366;
    border-radius: 15px;
}

#content h3 {
    font-size: 1.3em;
    color: #606;
    text-shadow: 1px 1px 2px white;
}

#content p img {
    position: absolute;
    top: -100px;
    right: 5px;
}

#content p {
    position: relative;
}