
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:url('images/background.jpg');
    background-repeat: none;
    width: 900px;
    margin: 0px auto;
}

#content table{
    border: 1px solid #5E7410;
    margin: 0px 10px;
    text-align: left;
    width: 100%;
    background-color: #ffffff;
}

#content table caption{
    font-size: 24px;
    font-weight: bold;
    color: #fffaf0;
}

#content table thead th{
    background-color: #bfe542;
    padding: 9px 24px;
    font-size: 18px;
    text-shadow: 1px 1px 2px #FFF;
}

#content table tbody th{
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    background-color: #d5dc09;
    text-align: center;
    text-shadow: 1px, 1px, 2px #000000;
}

#content table tbody td{
    border-top: 1px solid #c6d973;
    padding-left: 30px;
}

#content table tbody tr:nth-child(even){
    background-color: #dae0c6;
}

#content table tbody tr:hover{
    background-color: #dda0dd;
}

tr{
    height: 30px;
}